/* Setting color palettes */
:root {
  --background--: #1f2937;
  --field-background--: #273549;
  --accent-background--: #6943ff;
  --main-text--: #ffffff;
  --secondary-text--: #ccc1ff;
  --border-color--: #b295ff;
}

/* General styling and preps */
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: inherit;
}

/* Adding fonts */

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Italic.woff2") format("woff2"),
    url("fonts/Inter-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-Regular.woff2") format("woff2"),
    url("fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Styling the header */

body {
  background-color: var(--background--);
  color: var(--main-text--);
  font-family: "Inter", sans-serif;
}

header {
  background-color: var(--accent-background--);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
}

h1 {
  font-size: calc(1.5rem + 1vh);
  margin: 1em 1em 0;
  text-align: center;
}

input {
  background-color: var(--accent-background--);
  border: 2px solid var(--border-color--);
  border-radius: 5px;
  font-size: calc(3rem + 1vh);
  font-weight: bolder;
  text-align: center;
  flex: 1 auto auto;
  width: 25vw;
  text-wrap: wrap;
  max-width: max-content;
  display: block;
  padding: 0.125em 0 0.125em;
}

button {
  background-color: #ffffff;
  color: #3d3d3d;
  font-size: calc(1rem + 1vh);
  font-weight: bold;
  margin-bottom: 2em;
  padding: 0.4em 1.5em;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Styling the main part */

main {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: 3em auto 3em;
}

article {
  text-align: center;
  background-color: var(--field-background--);
  min-width: 90%;
  max-width: 90%;
  padding: 0.625em 1.25em;
  border-top-left-radius: 5px;
}

article h2 {
  color: var(--secondary-text--);
  font-size: calc(1rem + 0.5vh);
  margin: 1em auto 0.5em;
}

article p {
  font-size: calc(0.8rem + 0.5vh);
  margin: 0.5em auto 1em;
}

@media screen and (width > 40em) {
  h1 {
    font-size: calc(3rem + 1.5vh);
  }

  input {
    font-size: calc(4rem + 1.5vh);
  }

  button {
    font-size: calc(2rem + 1.5vh);
  }

  article h2 {
    font-size: calc(2rem + 1vh);
  }

  article p {
    font-size: calc(1.5rem + 1vh);
  }
}
